<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="row col-md-12">
      <a href="#">
        <img class="navbar-brand" src="../favicon.ico">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="index">连接</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="database">数据库</a>
          </li>
          <li class="nav-item" *ngIf="!userName" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="query">查询</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" href="#">切换</a>
          </li>
          <li class="nav-item" *ngIf="!userName">
            <a class="nav-link" routerLink="register">退出</a>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
