<div class="container-fluid">
  <div class="row col-12 mt-2">
    <div class="col-3">
      <div class="col-12 mt-2">
        <h4>数据库({{catalog}})：表({{tableName}})</h4>
      </div>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let source of dataSourceList" (opened)="open(source.catalog)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{source.catalog}}
            </mat-panel-title>
            <mat-panel-description>
              Host：{{source.master}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let table of tableList;let i = index">
              <h3 matLine><a (click)="selected = 1" href="javascript:void(0)" class="hand" title="表定义">{{table}}</a></h3>
              <span class="mr-3"><a href="javascript:void(0);" (click)="delete(table)" title="删除表"><fa-icon [icon]="faTrashAlt" class="fa-lg"></fa-icon></a></span>
              <span class="mt-2"><mat-radio-button (click)="radio(table)" [checked]="checked" title="选中表"></mat-radio-button></span>
              <mat-divider *ngIf="i !== (tableList.length - 1)"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-9">
      <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selected" (selectedIndexChange)="selected = $event">
        <mat-tab label="ECQL查询">
          <app-query [catalog]="catalog" [tableName]="tableName"></app-query>
        </mat-tab>
        <mat-tab label="表信息">
          <app-table [catalog]="catalog" [tableName]="tableName"></app-table>
        </mat-tab>
        <mat-tab label="创建表">
          <app-create-table [catalog]="catalog"></app-create-table>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>

