<form #queryForm="ngForm" (ngSubmit)="submit()">
  <div class="row col-12 mt-2">
    <button mat-raised-button type="submit" color="accent">执行</button>
    <button mat-raised-button type="reset">取消</button>
  </div>

  <div class="row mt-xl-2">
    <div class="col-12">
      <mat-form-field class="col-12">
        <textarea matInput [(ngModel)]="query.ecql" name="ecql" placeholder="ECQL语句"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row">
  <div class="example-container mat-elevation-z8 col-xl-12">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>

    <div class="example-table-container">
      <mat-table [dataSource]="data" class="example-table">
        <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
          <mat-header-cell *matHeaderCellDef>{{col.toUpperCase()}}</mat-header-cell>
          <mat-cell *matCellDef="let row" [ngSwitch]="col">
            <span *ngSwitchCase="'number'">{{row.number}}</span>
            <span *ngSwitchCase="'title'">{{row.title}}</span>
            <span *ngSwitchCase="'state'">{{row.state}}</span>
            <span *ngSwitchCase="'created'">{{row.created_at | date}}</span>
          </mat-cell>
        </ng-container>

        <!--<ng-container matColumnDef="number">-->
          <!--<mat-header-cell *matHeaderCellDef>Number</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let row">{{row.number}}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="title">-->
          <!--<mat-header-cell  *matHeaderCellDef>Title</mat-header-cell>-->
          <!--<mat-cell  *matCellDef="let row">{{ row.title }}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="state">-->
          <!--<mat-header-cell  *matHeaderCellDef>State</mat-header-cell>-->
          <!--<mat-cell  *matCellDef="let row">{{ row.state }}</mat-cell>-->
        <!--</ng-container>-->

        <!--<ng-container matColumnDef="created">-->
          <!--<mat-header-cell  *matHeaderCellDef>Created</mat-header-cell>-->
          <!--<mat-cell  *matCellDef="let row">{{ row.created_at | date }}</mat-cell>-->
        <!--</ng-container>-->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
  </div>
</div>
