<form #queryForm="ngForm" (ngSubmit)="submit()">
  <div class="row col-12 mt-2">
    <button mat-raised-button type="submit" color="accent">执行</button>
    <button mat-raised-button type="reset">取消</button>
  </div>

  <div class="row mt-xl-2">
    <div class="col-12">
      <mat-form-field class="col-12">
        <textarea matInput [(ngModel)]="query.ecql" name="ecql" placeholder="ECQL语句"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-tab-group class="col-12" [dynamicHeight]="true" [selectedIndex]="selected" (selectedIndexChange)="selected = $event">
      <mat-tab label="Result Table">
        <div class="example-container mat-elevation-z8 col-xl-12 col-12">
          <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <!--<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">-->
            <!--GitHub's API rate limit has been reached. It will be reset in one minute.-->
            <!--</div>-->
          </div>

          <div class="example-table-container">
            <table mat-table [dataSource]="data" class="table-hover">
              <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
                <th mat-header-cell *matHeaderCellDef>{{column.toUpperCase()}}</th>
                <td mat-cell *matCellDef="let row">{{row[column]}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator [length]="resultsLength" [pageSize]="20" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="GEO JSON">
        <div class="row col-12">
          <div class="ml-4">{{geoJson}}</div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>
